title: About Us
active_nav_link: :about
meta_description: JPTSC is experienced in the transportation industry and consults with companies of all types and sizes that operate commercial motor vehicles, as well as shippers and carriers of hazardous materials.
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1 About JPTSC

  .row
    .span8
      %p.lead
        JP Transportation Safety Consulting, LLC (JPTSC) is located in Birmingham, Alabama specializing in
        consulting services for private and for-hire trucking companies operating commercial motor vehicles
        in intrastate and interstate commerce.
      %p
        Our goal is to provide our clients with consulting services that will enable motor carriers
        to develop the necessary safety management controls to further improve company safety fitness
        standards and reduce vehicle accidents and injuries. JPTSC is designed to give attorneys and
        trucking companies a more in depth understanding of required federal and state regulations
        pertaining to safe commercial motor vehicle operations.
      %ul.thumbnails
        %li.span4
          .thumbnail
            %img{ src: lorem.image('300x180', text: 'Photo placeholder') }
        %li.span4
          .thumbnail
            %img{ src: lorem.image('300x180', text: 'Photo placeholder') }
    .span4
      .well
        %p
          <i class="icon-heart"></i> <strong>Our mission</strong> is to provide honest, affordable,
          and reliable expertise to nationwide markets in the motor carrier industry while exceeding
          the expectations of our clients. The emphasis of JPTSC is cost-effective safety consulting
          services individually designed to give our clients a more in-depth understanding of required
          federal and state regulations pertaining to the safe operations of commercial motor vehicles.
        %p
          We achieve this mission through effective leadership and training that will enable our
          clients to develop the necessary safety management controls to further improve regulatory
          compliance and enhance our customers' profitability.

  .page-header
    %h2 Leadership Team

  .row
    .span3
      .thumbnail
        %img{ src: lorem.image('260x180', text: 'Jon headshot') }
    .span9
      %h3 Jon Cook
      %p
        Jon Cook is a former commercial motor vehicle driver and owner operator with over 1,000,000
        over-the-road miles to his credit. He is a certified commercial driver examiner, having
        trained and road tested hundreds of commercial drivers. Mr. Cook has been employed in various
        capacities in the trucking industry over the last 36 years. He served as Director of Safety
        for a large food-store chain in Birmingham, Alabama covering seven states. He also remains
        active in the Alabama Trucking Association. He has served on the Board of Directors and was
        previously Chairman of the Board. He also has served as President and Chairman of the Board
        for the North Alabama Chapter of the National Safety Council.
  %hr
  .row
    .span3
      .thumbnail
        %img{ src: lorem.image('260x180', text: 'Paul headshot') }
    .span9
      %h3 Paul Dillard
      %p
        Paul Dillard is a graduate of Auburn University with a Bachelor of Science degree in Business
        Administration and a major in Transportation and Physical Distribution. Mr. Dillard has
        fulfilled all of the educational requirements, acquired the professional experience and
        knowledge of the field, and attained the level of expertise and professionalism in motor
        fleet supervision as a Certified Director of Safety from the North American Transportation
        Management Training Institute. He has been employed in the motor carrier industry since 1988
        and has successfully managed the safety, compliance and claims for two major motor carriers
        as a Vice President and/or Director of Safety resulting in satisfactory compliance audits and
        significant reductions in accident frequency. He is experienced and trained in commercial
        motor vehicle safety and compliance, quality management, defensive driving, accident
        investigation, commercial motor vehicle operations, inspection/maintenance, OSHA, cargo
        loading and securement, and hazardous materials transportation.
  %hr
  .row
    .span3
      .thumbnail
        %img{ src: lorem.image('260x180', text: 'Terry headshot') }
    .span9
      %h3 Terry Bailey
      %p
        Terry Bailey has served as an employee of the US Department of Labor/Occupational Safety
        &amp; Health Administration (OSHA) for over 23 years. He was employed as a Compliance
        Safety &amp; Health Officer (CSHO) for 13 years with field inspections and investigations
        which require thorough knowledge of all legislation, regulations, and authority under which
        OSHA compliance audits are conducted. Mr. Bailey also served as an Assistant Area Director
        of the Birmingham, AL OSHA office for 10 years and incorporated management concepts,
        principles and laws to insure guidance and instruction that is practiced among various
        levels of management and employees to this day.
