title: About Us
active_nav_link: :about
meta_description: JPTSC is experienced in the transportation industry and consults with companies of all types and sizes that operate commercial motor vehicles, as well as shippers and carriers of hazardous materials.
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1 About JPTSC

  .row
    .span8
      %p.lead
        JP Transportation Safety Consulting, LLC (JPTSC) has more than one hundred years combined
        experience serving the shipping and transportation industry relative to workplace safety
        and regulatory compliance.
      %p
        We provide comprehensive consulting services to companies with safety performance
        problems or those seeking to enhance existing programs and policies. We provide
        recommendations and guidance according to best safety practices. Our goal is to provide
        effective consulting services that will enable our clients to develop the necessary safety
        management controls to comply with applicable regulations.
      %p
        JPTSC has aided hundreds of transportation and logistical companies throughout the U.S. in
        reducing their overall compliance violations and improving their fleet operating safety
        performance.
      %p
        We are proud members of the <a href="http://www.nsc.org/">National Safety Council</a>,
        <a href="http://alabamatrucking.org/">Alabama Trucking Association</a> and the
        <a href="http://www.natmi.org/">North American Transportation Management Training Institute</a>.
      %ul.thumbnails
        %li.span4
          .thumbnail
            %img{ src: '/img/action_shot_1.jpg', alt: 'Transportation consulting classroom photo', width: 300, height: 180 }
        %li.span4
          .thumbnail
            %img{ src: '/img/action_shot_2.jpg', alt: 'Transportation consulting classroom photo', width: 300, height: 180 }
    .span4
      .well
        %p
          <i class="icon-heart"></i> <strong>Our mission</strong> is to provide honest, affordable,
          and reliable expertise to nationwide markets in the motor carrier industry while exceeding
          the expectations of our clients. The emphasis of JPTSC is cost-effective safety consulting
          services individually designed to give our clients a more in-depth understanding of required
          federal and state regulations pertaining to the safe operations of commercial motor vehicles.
        %p
          We achieve this mission through effective leadership and training that will enable our
          clients to develop the necessary safety management controls to further improve regulatory
          compliance and enhance our customers' profitability.

  .page-header
    %h2 Executive Team
  .row
    .span3
      .thumbnail
        %img{ src: '/img/paul_dillard.jpg', width: '260', height: '175', alt: 'Paul Dillard photo' }
    .span9
      %h3 Jon (Paul) Dillard <small>President and Co-Founder</small>
      %p
        Paul Dillard is a graduate of Auburn University with a Bachelor of Science degree in Business
        Administration and a major in Transportation and Physical Distribution. Mr. Dillard has
        fulfilled all of the educational requirements, acquired the professional experience and
        knowledge of the field, and attained the level of expertise and professionalism in motor
        fleet supervision as a Certified Director of Safety from the North American Transportation
        Management Training Institute. He has been employed in the motor carrier industry since 1988
        and has successfully managed the safety, compliance and claims for two major motor carriers
        as a Vice President and/or Director of Safety resulting in satisfactory compliance audits and
        significant reductions in accident frequency. He is experienced and trained in commercial
        motor vehicle safety and compliance, quality management, defensive driving, accident
        investigation, commercial motor vehicle operations, inspection/maintenance, OSHA, cargo
        loading and securement, and hazardous materials transportation.
      %p
        %a{href: 'mailto:pdillard@jptsc.com', class: 'btn btn-mini'}
          <i class="icon-envelope"></i>
          Email Paul
  %hr
  .row
    .span3
      .thumbnail
        %img{ src: '/img/jon_cook.jpg', width: '260', height: '175', alt: 'Jon Cook photo' }
    .span9
      %h3 Jon Cook <small>COO and Co-Founder</small>
      %p
        Jon Cook is a former commercial motor vehicle driver and owner operator with over 1,000,000
        over-the-road miles to his credit. He is a certified commercial driver examiner, having
        trained and road tested hundreds of commercial drivers. Mr. Cook has been employed in various
        capacities in the trucking industry over the last 36 years. He served as Director of Safety
        for a large food-store chain in Birmingham, Alabama covering seven states. He also remains
        active in the Alabama Trucking Association. He has served on the Board of Directors and was
        previously Chairman of the Board. He also has served as President and Chairman of the Board
        for the North Alabama Chapter of the National Safety Council.
      %p
        %a{href: 'mailto:jcook@jptsc.com', class: 'btn btn-mini'}
          <i class="icon-envelope"></i>
          Email Jon
