title: Contact Us
active_nav_link: :contact
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1 Contact Us
  .row
    .span4
      %h6 Call
      %h3
        (855) 2JPTSCNOW
        %small
          (855) 257-8727
    .span4
      %h6 Email
      %h3
        :plain
          <script type="text/javascript" language="javascript">
            <!--
            { coded = "TG2XKtu92k@dDuXT.TG3"
              key = "r4poFVRCj8MzH7cJu6b9meDGsZgYdhLqWPTnK5lQ3wAvX0kIESUa1Ny2fxtBOi"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
                }
                else {
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
                }
              }
            document.write("<a href='mailto:"+link+"'>consulting@jptsc.com</a>")
            }
            //-->
          </script>
    .span4
      %h6 Mail
      %p
        %strong
          P.O. Box 382105
          %br
          Birmingham, AL 35238-2105
