title: Keeping Your Fleet Safe
active_nav_link: :home
meta_description: With over 100 years combined commercial motor vehicle experience, we're experts in DOT compliance, litigation support and best safety practices.
META------------------------------------------------------------------------------------------------
#home-carousel.carousel
  .carousel-inner
    .item.active
      %img{src: '/img/carousel/blurry_white_truck_on_interstate.jpg', alt: '', width: '980', height: '450'}
      .carousel-caption
        %h2 Expert Regulatory Guidance
        %p
          The consulting experts at JPTSC are ready to move your safety and compliance programs in
          the right direction.  We extend beyond compliance with federal and state regulations
          offering extensive experience in the development and implementation of effective comprehensive
          programs designed to improve compliance and overall vehicular safety.
    .item
      %img{src: '/img/carousel/truck_with_sunset.jpg', alt: '',  width: '980', height: '450'}
      .carousel-caption
        %h2 Best Safety Practices
        %p
          JPTSC has helped hundreds of motor carriers overcome safety performance problems as well
          as enhancing existing programs, policies, and procedures relative to best safety practices.
    .item
      %img{src: '/img/carousel/stop_sign.jpg', alt: '',  width: '980', height: '450'}
      .carousel-caption
        %h2 Driver and Management Training
        %p
          We can put your driver fleet on the right road to success with customized driver and
          management training programs such as hours of service, cargo securement, vehicle
          maintenance, defensive driving, and much more.
    .item
      %img{src: '/img/carousel/red_truck_driving.jpg', alt: '',  width: '980', height: '450'}
      .carousel-caption
        %h2 Mock DOT Audits and CSA Assessments
        %p
          We are ready to evaluate your safety and compliance programs, provide effective
          recommendations, manage your CSA scores and respond to situations such as FMCSA
          interventions, motor vehicle accidents, DOT compliance reviews, and litigation.

  %a{href: '#home-carousel', class: 'carousel-control left', data: {slide: 'prev'}} &lsaquo;
  %a{href: '#home-carousel', class: 'carousel-control right', data: {slide: 'next'}} &rsaquo;

.container
  %section#intro
    %h1
      Over 100 years combined <span class="theme_color">commercial motor vehicle</span> experience at your service.
      We're experts in <span class="theme_color">DOT compliance</span>, <span class="theme_color">litigation support</span>,
      and <span class="theme_color">best safety practices</span>.

  .row
    .span7
      %p
        <strong>We help companies of all types and sizes that operate commercial motor vehicles</strong>, as well as
        shippers and carriers of hazardous materials, with respect to compliance with Title 49 Code of Federal Regulations.
      %p
        Whether your company operates straight trucks, specialized equipment, or tractor trailers, JPTSC offers effective
        consulting services and training programs tailored to meet the specific needs of your organization. From on-site
        mock DOT audits, customized driver and management training to vehicle maintenance programs, we can develop or
        improve your overall fleet safety and compliance programs.
      %p
        %a{href: '#', class: 'btn btn-large btn-primary'} Learn more &rarr;
      %hr
      %blockquote
        %p
          JPTSC provides consistent, sensible, and easy to follow solutions to complex issues
          involving federal, state, and local regulations. The consulting services of JPTSC are
          a superb combination of common-sense, technical expertise, and approachablilty that
          far outweighs its competition.
        %small
          <strong>Wayne Anderson</strong>, Liberty Tire Recycling
      %blockquote
        %p
          If you have any concerns or issues about your safety department being DOT compliant,
          you owe it to yourself to contact JP Transportation Safety Consulting. It has been a
          pleasure working with a consulting firm that actually knows and understands the
          trucking industry. With JPTSC’s knowledgeable staff and dedication to the success of
          the ATA and motor carriers cross the nation, I would highly recommend their consulting
          services.
        %small
          <strong>Gene Vonderau</strong>, Alabama Trucking Association
      %ul.pager
        %li.previous
          %a{href: '/testimonials', title: ''} More testimonials &rarr;
    .span5
      %ul.thumbnails
        %li.span5
          .thumbnail
            %img{src: '/img/csa_logo.png', alt: '', width: '380', height: '160'}
            .caption
              %h4 Do you know your CSA scores?
              %p
                Shippers, competitors, insurance companies, lawyers &mdash; they do.
                %a{href: '#'}
                  %strong
                    JPTSC can help.
              %p
                %a{href: 'http://www.ai.fmcsa.dot.gov/sms/', class: 'btn'} Check your CSA scores &rarr;
      .page-header
        %h3 News &amp; Events
      %ul
        %li
          %strong
            = lorem.date
          = lorem.sentences(4)
        %li
          %strong
            = lorem.date
          = lorem.sentences(4)

- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#home-carousel').carousel({
        interval: 10000
      });
    });