title: Partners
active_nav_link: :partners
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1 Partners

  %ul.thumbnails
    %li.span4
      .thumbnail
        .ac
          %a{ href: 'http://www.fleetio.com', title: 'Fleetio is an easy-to-use, web-based fleet maintenance management system' }
            %img{ src: '/img/fleetio_logo.png', width: 218, height: 75, alt: 'Fleetio logo' }
        .caption
          %h4
            %a{ href: 'http://www.fleetio.com', title: 'Fleetio is an easy-to-use, web-based fleet maintenance management system' } Fleetio
          %p
            Fleetio is an easy-to-use, web-based fleet management system that makes it easy to
            manage vehicles and equipment.
    %li.span4
      .thumbnail
        .ac
          %a{ href: 'http://www.edpm.com', title: 'EDPM is an industry leading provider of drug testing, background checks, and DOT compliance solutions for employers throughout the U.S.' }
            %img{ src: '/img/edpm_logo.jpg', width: 200, height: 88, alt: 'EDPM logo' }
        .caption
          %h4
            %a{ href: 'http://www.edpm.com' } EDPM
          %p
            EDPM is an industry leading provider of drug testing, background checks, and DOT
            compliance solutions for employers throughout the U.S.

  .page-header
    %h2 Links and other resources

  %ul
    %li
      %a{ href: 'http://www.fmcsa.dot.gov' }
        Federal Motor Carrier Safety Administration	(FMCSA)
    %li
      %a{ href: 'http://www.alabamatrucking.org' }
        Alabama Trucking Association (ATA)
    %li
      %a{ href: 'http://www.nsc.org' }
        National Safety Council	(NSC)
    %li
      %a{ href: 'http://www.trucking.org' }
        American Trucking Association	(ATA)
    %li
      %a{ href: 'http://www.weather.gov' }
        National Weather Service
    %li
      %a{ href: 'http://www.natmi.org' }
        North American Transportation Management Institute (NATMI)
    %li
      %a{ href: 'http://www.osha.gov' }
        Occupational Safety Health Administration	(OSHA)
    %li
      %a{ href: 'http://www.safersys.org' }
        Safety and Fitness Electronic Records (SAFER)
