title: Our Services
active_nav_link: :services
meta_description: JPTSC offers many regulatory compliance and consulting services tailored to meet individual needs. It is our flexibility that makes us easy to work with. Out staff is experienced in the transportation industry, so we can address your needs from your perspective.
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1 Our Services

  .row
    .span4
      = render_partial 'services/services_nav', active_link: :main
    .span8
      %p.lead
        JPTSC offers many regulatory compliance and consulting services tailored to meet individual
        needs. It is our flexibility that makes us easy to work with. Our staff is experienced in the
        transportation industry, so we can address your needs from your perspective.
      %hr
      %p
        JPTSC can provide the following compliance services, management consulting and training programs
        for your organization:

      .row
        .span4
          %ul.unstyled
            %li <i class="icon-check"></i> Mock DOT Compliance Reviews
            %li <i class="icon-check"></i> DOT Audit Assistance
            %li <i class="icon-check"></i> Driver Training &amp; Safety Meetings
            %li <i class="icon-check"></i> Drug &amp; Alcohol Training
            %li <i class="icon-check"></i> Compliance Programs
            %li <i class="icon-check"></i> Driver Training &amp; Road Testing
            %li <i class="icon-check"></i> Accident Investigation
        .span4
          %ul.unstyled
            %li <i class="icon-check"></i> Hazardous Material Compliance Training
            %li <i class="icon-check"></i> Decision Driving Programs
            %li <i class="icon-check"></i> OSHA &amp; Site Planning
            %li <i class="icon-check"></i> Maintenance Programs
            %li <i class="icon-check"></i> Litigation Support
            %li <i class="icon-check"></i> Risk Management

      %hr
      %h6 Our expertise includes:
      .well.well-large.ac
        Powered Industrial Lift Trucks <i class="icon-star"></i>
        Interstate Operations <i class="icon-star"></i>
        Concrete Mixers <i class="icon-star"></i>
        For-Hire Motor Carriers <i class="icon-star"></i>
        Private Motor Carriers <i class="icon-star"></i>
        Intrastate Operations <i class="icon-star"></i>
        Local Delivery Trucks <i class="icon-star"></i>
        Passenger Buses <i class="icon-star"></i>
        Utility Vehicles

