title: Testimonials
active_nav_link: :testimonials
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1 Client Testimonials

  %blockquote
    %p
      JPTSC provides consistent, sensible, and easy to follow solutions to complex issues
      involving federal, state and local regulations. I have received many unsolicited laudatory
      comments from our transportation managers attending the training sessions of JPTSC that
      this was the first time they were able to clearly understand ‘”how” the whole process fits
      together.
    %p
      The consulting services of JPTSC are a superb combination of common-sense, technical
      expertise, and approachability that far outweighs its competition.
    %small
      <strong>Wayne Anderson</strong>, Safety Director,
      <a href="http://www.libertytire.com">Liberty Tire Recycling</a>, Pittsburgh, PA
  %hr
  %blockquote
    %p
      A sincere thanks goes to the professional assistance we have received from JPTSC since 2004.
      Your staff has been very helpful through the years and we credit our DOT satisfaction rating
      to your intervention and helpfulness during the compliance review process. It was nice to
      know that you were on-site assisting us during the entire review.
    %p
      Any time I’ve had a question, you have always been available to provide an answer. Needless
      to say the trucking knowledge and experience of JPTSC continues to be an invaluable asset to
      our organization. Again, thanks for all your help.
    %small
      <strong>Herb Gossett</strong>, Safety Director,
      <a href="http://www.readymixusa.com/">Ready Mix USA</a>, Irondale, AL
  %hr
  %blockquote
    %p
      JP Transportation Safety Consulting has played a major role in helping my company keep our
      fleet safe and compliant with all applicable regulations. They continue to provide us training
      and certification where needed and have conducted mock DOT audits and assessments to keep us
      prepared and ready for an official review.
    %p
      JPTSC is ethical, trustworthy, and always just a phone call away when help is needed. My
      relationship with JPTSC has been ongoing for over a decade and I have not only employed their
      services personally, but continue to refer many clients to them because of their industry
      experience and eagerness to serve their clients.
    %p
      I would recommend the consulting services of JPTSC to any trucking company seeking expert
      advice on DOT regulations and best safety practices.
    %small
      <strong>Fenn Church</strong>, President,
      <a href="http://churchtransportation.net">Church Transportation and Logistics</a>,
      Birmingham, AL
  %hr
  %blockquote
    %p
      I have been doing business with JP Transportation Safety Consulting for many years and the
      level of commitment and service I’ve received has always been exceptional. The quality of
      information provided by their unique and long-term relationship with the Alabama Trucking
      Association has been tremendous having served with them on boards, councils, and multiple
      committees.
    %p
      It has been a pleasure working with a consulting firm that actually knows and understands
      the trucking industry. With JPTSC’s knowledgeable staff and dedication to the success of the
      ATA and motor carriers cross the nation, I would highly recommend their consulting services.
      If you have any concerns or issues about your safety department being DOT compliant, you owe
      it to yourself to contact JP Transportation Safety Consulting.
    %small
      <strong>Gene Vonderau</strong>, Former Director of Safety and Member Services,
      <a href="http://alabamatrucking.org">Alabama Trucking Association</a>, Montgomery, AL
  %hr
  %blockquote
    %p
      JP Transportation Safety Consulting has demonstrated exemplary performance ensuring that both
      Visionary Solutions, LLC, (VS) Interstate Ventures, Inc., and VS’s commercial nuclear transporter
      have met safety and transportation regulatory requirements. This has been accomplished through
      a comprehensive program for training our drivers and transportation staff, performing internal
      audits and assessments, developing and implementing transportation procedures and plans for safety
      and other related instructions to meet compliance standards for OSHA and DOT requirements.
    %p
      JPTSC continues to provide safety services to VS during its on-going Transuranic (TRU) Material
      Transportation Project consisting of both Remote-handled and Contact-handled TRU shipments. This
      highly visible campaign remains a complex transportation project due to the sensitive nature of
      the materials transported. It involves the ability to manage a large program safely, on-time
      and within budget and requires the understanding of strict federal transportation regulations
      and standards for the transport of radiological materials across the nation. Regular consistent
      equipment inspections and standards must also be met to ensure that all DOT requirements are
      compliant for drivers and specialized equipment. JPTSC has been instrumental in ensuring that
      VS meets stringent compliance standards during this campaign and other similar sensitive
      material campaigns in recent years.
    %small
      <strong>Cavanaugh Mims</strong>, President,
      <a href="http://www.vs-llc.com">Visionary Solutions</a>, Oak Ridge, TN
  %hr
  %blockquote
    %p
      JP Transportation Safety Consulting has been our company’s resource to navigate the ever-changing
      landscape of Federal safety regulations. As a small business, we don’t have the resources to
      track and interpret frequent regulatory changes. Not only does JPTSC keep us up to speed on
      these changes, but they ensure we implement the proper safety measures and documentation.
    %p
      They understand our business, and our budget, and work with us within that context. We view
      JPTSC not as a vendor, but as a partner, and that’s hard to find in today’s trucking industry.
    %small
      <strong>Russ Elrod</strong>, COO,
      <a href="http://www.arabcartage.com/">Arab Cartage & Express Co.</a>, Arab, AL
