title: Driver and Management Training Services
active_nav_link: :services
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1
      Customized Driver &amp; Management Training
      %small
        JPTSC Services
  .row
    .span4
      = render_partial 'services/services_nav', active_link: :driver_training
    .span8
      %p.lead
        Whether your drivers operate vans, straight trucks, or tractor-trailers, JPTSC can provide
        valuable information to improve safety, productivity, and customer satisfaction.
      %hr
      %p
        Services include:

      %ul.unstyled
        %li <i class="icon-check"></i> Defensive driving courses &amp; CDL training
        %li <i class="icon-check"></i> Structured safety &amp; compliance meetings
        %li <i class="icon-check"></i> Accident investigation
        %li <i class="icon-check"></i> SafeStat review &amp; evaluation
        %li <i class="icon-check"></i> Cargo securement training
        %li <i class="icon-check"></i> Hours of service training
        %li <i class="icon-check"></i> Road-testing procedures
        %li <i class="icon-check"></i> Accident preventability guidelines
        %li <i class="icon-check"></i> Company hiring policies &amp; driver qualifications
        %li <i class="icon-check"></i> Corrective action plans