title: Drug and Alcohol Training
active_nav_link: :services
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1
      Drug &amp; Alcohol Training
      %small
        JPTSC Services
  .row
    .span4
      = render_partial 'services/services_nav', active_link: :drug_training
    .span8
      %p.lead
        DOT requires that employers provide materials to drivers that include a discussion of a
        variety of specific issues. JPTSC can provide your company with an overview of DOT's
        alcohol and drug testing requirements.
      %hr
      %p
        We can assist in the development of the following:

      %ul.unstyled
        %li <i class="icon-check"></i> Company drug and alcohol policies
        %li <i class="icon-check"></i> Systematic method of random testing
        %li <i class="icon-check"></i> Statistical reports and analysis
        %li <i class="icon-check"></i> Record retention requirements
        %li <i class="icon-check"></i> Supervisor Reasonable Suspicion training