title: Hazardous Materials Compliance Training
active_nav_link: :services
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1
      Hazardous Materials Compliance Training
      %small
        JPTSC Services
  .row
    .span4
      = render_partial 'services/services_nav', active_link: :hazardous_materials_training
    .span8
      %p.lead
        Once your drivers accept hazardous materials for transportation, they and your company
        assume a great responsibility. That's why it is crucial your drivers know how to
        check labels, markings, and shipping papers for hazardous material shipments.
      %hr
      %p
        We offer the following training:

      %ul.unstyled
        %li <i class="icon-check"></i> General awareness
        %li <i class="icon-check"></i> Function-specific training
        %li <i class="icon-check"></i> Security
        %li <i class="icon-check"></i> Emergency response and safety
        %li <i class="icon-check"></i> Handling and transporting hazardous materials