title: Maintenance Programs
active_nav_link: :services
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1
      Maintenance Programs
      %small
        JPTSC Services
  .row
    .span4
      = render_partial 'services/services_nav', active_link: :maintenance_programs
    .span8
      %p.lead
        Proper vehicle inspections can reduce the costs associated with breakdowns and potential
        accidents. JPTSC can help your company develop and implement an effective vehicle
        maintenance program to reduce costs, increase productivity, and reduce noncompliance fines.
      %hr
      %p
        Services include:

      %ul.unstyled
        %li <i class="icon-check"></i> Preventative maintenance programs
        %li <i class="icon-check"></i> Proper procedures for performing vehicle inspections
        %li <i class="icon-check"></i> Tracking repairs, services and inspections
        %li <i class="icon-check"></i> Documentation and retention requirements