title: Mock DOT Compliance Reviews
active_nav_link: :services
META------------------------------------------------------------------------------------------------
.container
  .page-header
    %h1
      On-Site Mock DOT Compliance Reviews
      %small
        JPTSC Services
  .row
    .span4
      = render_partial 'services/services_nav', active_link: :mock_dot_review
    .span8
      %p.lead
        JPTSC can perform an in-depth review of your DOT compliance posture and offer recommendations
        for fine-tuning your safety and compliance programs.
      %hr
      %p
        Errors and potential violations may be discovered that could result in DOT civil
        forfeitures, fines, and penalties, on the following:

      %ul.unstyled
        %li <i class="icon-check"></i> Driver qualification files
        %li <i class="icon-check"></i> Alcohol and drug-testing programs
        %li <i class="icon-check"></i> Commercial driver's license requirements
        %li <i class="icon-check"></i> DOT accident files and frequency
        %li <i class="icon-check"></i> Records of duty status
        %li <i class="icon-check"></i> Vehicle maintenance and inspection
        %li <i class="icon-check"></i> Hazardous material shipments