$linkColor: #F55D2D;
$linkColorHover: #4F5356;
$baseFontSize: 14px;
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif ! default;
$baseLineHeight: 20px;
$iconSpritePath: url('../img/glyphicons-halflings.png');
$iconWhiteSpritePath: url('../img/glyphicons-halflings-white.png');

@import "bootstrap";
@import "biscayne/biscayne";

body {
  .fl { float: left; }
  .fr { float: right; }
  .ac { text-align: center; }
  .ar { text-align: right; }
}

hr.img {
  clear: both;
  height: 7px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: url('../img/hr.png') repeat-x 0 0;
}

#logo {
  background: transparent url('../img/jptsc-logo.png') no-repeat scroll center left;
  width: 200px;
  height: 70px;
}

#logo-caption {
  color: #aaa;
  font-weight: normal;
  height: 65px;
  line-height: 65px;
}

#intro {
  margin-bottom: $baseLineHeight;

  h1, h2 {
    text-transform: none;
    letter-spacing: -1px;
  }
}

#footer {
  margin-top: $baseLineHeight;
  font-size: $baseFontSize - 1;

  #sub_footer {
    p {
      font-size: $baseFontSize - 2;
    }
  }
}

ul.tweet_list {
  @extend ul.unstyled;

  li {
    margin-bottom: $baseLineHeight / 2;
  }
}

ul.sidebar-comment li { padding-top: $baseLineHeight; }

/* Tweak the btn-primary gradient */
.btn-primary {
  @include buttonBackground($btnPrimaryBackground, adjust-hue($btnPrimaryBackground, 12));
}

.carousel-caption h2 {
  color: $white;
}

blockquote.big-quote {
  background: transparent url('../img/big-quote.png') no-repeat left top;
  border-left: none;
  padding-left: 90px;
}